@keyframes big-circle {
  0% {
    height: 0vw;
    width: 0vw;
  }

  100% {
    height: 150vw;
    width: 150vw;
  }
}

@keyframes letterSpacing {
  0% {
    letter-spacing: 0vw;
  }

  100% {
    letter-spacing: 0.68vw;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
    z-index: 0;
  }
}

@keyframes rubberPop {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  40% {
    -webkit-transform: scaleY(1.2);
    transform: scaleY(1.2);
  }
  60% {
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }
  80% {
    -webkit-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  90% {
    -webkit-transform: scaleY(0.9);
    transform: scaleY(0.9);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes popUp {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

// ROBOTO -> 400, 500, 700
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
